/* navbar */
.navbar {
  background-color: #940000; 
}
.navbar-brand {
  font-weight: bold;
  color: #fff; 
}
.navbar-brand:hover {
  color: #c23b22;
}
.navbar-nav .nav-link {
  color: #ffffff; 
  font-size: 1.1rem;
}
.navbar-nav .nav-link:hover {
  color: #c23b22; 
}
.navbar-nav .nav-link.active {
  color: #fff; 
}
.navbar-toggler {
  border-color: #fff; 
}
.navbar-toggler-icon {
  color: #fff; 
}
.dropdown-menu {
  background-color: #940000; 
}
.dropdown-menu .dropdown-item {
  color: #ffffff; 
}
.dropdown-menu .dropdown-item:hover {
  background-color: #940000; 
}
.dropdown-divider {
  border-color: #fff;
}
.form-control {
  background-color: #fff; 
  border: 1px solid #fff; 
  color: #ffffff; 
}
.form-control::placeholder {
  color: #ced4da; 
}
.btn-outline-success {
  color: #fff;
  border-color: #fff; 
}
.btn-outline-success:hover {
  background-color:#c23b22; 
  color:#fff; 
}

 /* content */
 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 10px;  */
  text-align: center;
  background-color: #f8f9fa;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 2rem;
}

.content h2 span {
  color: #940000;
}

.image-container {
display: grid;
grid-template-columns: repeat(4, 1fr); 
grid-auto-rows: auto;
gap: 1rem;
margin-top: 2rem;
}

.image-container img {
width: 200px;
height: 200px;
object-fit: cover;
}



/* card */

 .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover; 
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}


.container{
  margin-top: 60px;
  margin-left: 80px;
  margin-bottom: 50px;
  padding: 10px 20px 0px 5px;
  text-align: center;

}


.container a{
  text-align: center;
}



/* footer */

footer {
  background-color: #940000;
  color: #fff;
  padding: 10px;
  width: 100%;
}





@media screen and (max-width: 768px){
  .container{
    text-align: center;
    margin-left: 60px;
    font-size: 15px;
    width: 350px;
    padding-bottom: 25px;
    margin-top: 50px;
    align-items: center;
  }

  .btn-danger{
    font-size: 10px;
  }

  .container h1{
    font-size: 20px;
  }

  .container p{
    font-size: 13px;
  }

  .container a{
    font-size: 10px;
  }

  .content h1{
    font-size: 20px;
    margin-top: 10px;
  }
  .content h2{
    font-size: 20px;
  }
  .content p{
    font-size: 13px;
  }

} 

@media screen and (max-width: 500px){
  .container{
    text-align: center;
    margin-left: 60px;
    font-size: 15px;
    width: 250px;
    padding-bottom: 15px;
    margin-top: 50px;
    align-items: center;
  }

  .btn-danger{
    font-size: 10px;
  }

  .container h1{
    font-size: 20px;
  }

  .container p{
    font-size: 13px;
  }

  .container a{
    font-size: 10px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
  }

  .content h1{
    font-size: 20px;
    margin-top: 10px;
  }
  .content h2{
    font-size: 20px;
  }
  .content p{
    font-size: 13px;
  }

} 



